* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
 
  @include respond(tab-port) {
    font-size: 50%;
  }
  @include respond(phone-s) {
    font-size: 40%;
  }
  @include respond(big-desk) {
    font-size: 70%;
  }
}

ion-icon {
  color: $grayish-purple;
}
